<!DOCTYPE html>
<html>
  <head>
    <title>Node Test</title>
    <meta charset = "utf-8">
  </head>
  <body>
  <form id="form" method = "POST" action = "/login-check">
  	<table border="1" width="30%">
		  <tr><td><b>UserName</b><input type="text" name="username"></td></tr>
      <tr><td><b>Password</b><input type="password" name="password"></td></tr>
      <tr><td><input type="submit" value="Submit"></td></tr>
	  </table>
  </form>
  </body>
</html>

